hr {
    position: relative;
    margin: 2rem auto;
    width: calc(-4px + 100%);
    border: 2px dashed #a4d8fa;
    background: #fff;
}
.para-list {
    text-align: center;
}

.para-list.link-title {
    color: #808080;   
}

.post-eof {
   text-align:center;
   margin-left:700px;
}
.post-footer {
    background-color: #fbfbfb;
    color: #757575;
}
.main-inner {
    padding: 20px;
    margin-top: 20px;
}